<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet"/>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <div id="header" class="center">
            <h1>Tareas Symfony</h1>
            <ul id="menu" class="center">
                <li><a href="{{ path('tasks') }}">Inicio<a/></li>
                <li><a href="{{ path('tasks') }}">Mis tareas<a/></li>
                <li><a href="{{ path('login') }}">Login<a/></li>
                <li><a href="{{ path('register') }}">Registro<a/></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        {% endblock %}
        {% block body %}{% endblock %}
        {# {% block body %}{% endblock %} #}
    </body>
</html>
